<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <hr>
        <h1>Graphical Method</h1>
        <br>
        <hr>
        <p>
           <b> <i>Definition Of Graphical Method</i></b>

        </p>
        <pre>
            Graphical method, or Geometric method, allows solving simple linear programming problems intuitively and visually. This method is limited to two or three problems decision variables since it is not possible to graphically illustrate more than 3D.

        </pre>

        <section>
            <h2>Steps to solve in Graphical Method are as follows :</h2>
            <p>
                <pre>
                    Step 1: Formulate the LP (Linear programming) problem
We have already understood the mathematical formulation of an LP problem in a previous section. Note that this is the most crucial step as all the subsequent steps depend on our analysis here.

Browse more Topics under Linear Programming
Different Types of Linear Programming Problems
Linear Programming Problem and Its Mathematical Formulation

Step 2: Construct a graph and plot the constraint lines
The graph must be constructed in ‘n’ dimensions, where ‘n’ is the number of decision variables. This should give you an idea about the complexity of this step if the number of decision variables increases.

One must know that one cannot imagine more than 3-dimensions anyway! The constraint lines can be constructed by joining the horizontal and vertical intercepts found from each constraint equation.

Step 3: Determine the valid side of each constraint line
This is used to determine the domain of the available space, which can result in a feasible solution. How to check? A simple method is to put the coordinates of the origin (0,0) in the problem and determine whether the objective function takes on a physical solution or not. If yes, then the side of the constraint lines on which the origin lies is the valid side. Otherwise it lies on the opposite one.

Step 4: Identify the feasible solution region
The feasible solution region on the graph is the one which is satisfied by all the constraints. It could be viewed as the intersection of the valid regions of each constraint line as well. Choosing any point in this area would result in a valid solution for our objective function.

Step 5: Plot the objective function on the graph
It will clearly be a straight line since we are dealing with linear equations here. One must be sure to draw it differently from the constraint lines to avoid confusion. Choose the constant value in the equation of the objective function randomly, just to make it clearly distinguishable.

Step 6: Find the optimum point
                </pre>
            </p>
        </section>
        <br>

        <h2>Example of Graphical Method</h2>
        <hr>
        <br>
        <pre>
            Example 1:    The path of highway number 1 is given by the equation x + y = 7 and the highway number 2 is given by the equation 5x + 2y = 20. Represent these equations geometrically.
Sol.    We have, x + y = 7
⇒ y = 7 – x              ….(1)
In tabular form

x	1	4
y	6	3
Points	A	B
and 5x + 2y = 20
⇒ y = 20−5x2         ….(2)
In tabular form

x	2	4
y	5	0
Points	C	D
Plot the points A (1, 6), B(4, 3) and join them to form a line AB.
Similarly, plot the points C(2, 5). D (4, 0) and join them to get a line CD. Clearly, the two lines intersect at the point C. Now, every point on the line AB gives us a solution of equation (1). Every point on CD gives us a solution of equation (2).
<img src="https://www.aplustopper.com/wp-content/uploads/2018/08/Graphical-Method-Of-Solving-Linear-Equations-In-Two-Variables-1.png" width="200px" alt="graph of the example">
        </pre>
        


    </main>
    <footer></footer>

    
</body>
</html>